path {
  fill: rgb(5, 79, 139);
}

path:hover {
  fill: rgba(5, 79, 139, 0.596);
}

.map-div {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: 5vh 20vh 5vh 20vh;
  height: 65vh;
  color: white !important;
  border: 4px solid rgb(5, 79, 139);
}

.map-content {
  font-family: "Karla", sans-serif;
  color: rgb(5, 79, 139);
  text-align: left;
}

.map-value {
  font-size: 3vh;
}

