.mapPath {
  fill: rgb(5, 79, 139);
}

.mapPath:hover {
  fill: rgba(5, 79, 139, 0.596);
}

.map-div {
  padding-top: 10vh;
  padding-bottom: 5vh;
  margin: 0vh 10vh 5vh 10vh;
  height: 32.8vh;
  color: white !important;
  border: 4px solid rgb(5, 79, 139);
}

.map-content {
  font-family: "Karla", sans-serif;
  color: rgb(5, 79, 139);
  text-align: left;
}

.map-value {
  font-size: 3vh;
}

