.newsurvey-background {
  width: 100vw;
  color: black;
  background-color: rgb(255, 255, 255);
}

.form-card {
  background-color: rgb(255, 255, 255);
  margin-top: 5vh;
  padding: 2vh;
  min-width: 60%;
  border: 2px solid rgba(223, 221, 221, 0.685);
  text-align: left;
}
.main-text {
  font-weight: 600;
  font-size: 1.2em;
}

.main-con {
  text-align: center;
}

.topic-text {
  font-weight: 600;
}

th {
  font-weight: 400;
}

.alert {
  top: 45%;
  position: fixed;
  z-index: 9999;
}

.radio-row {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.page-break {
  border: 1px solid black;
}

.page-break-text {
  text-align: center;
}

.test {
  left: 5%;
  top: 50%;
  position: fixed;
  z-index: 9999;
}
